 <!--
Design by Bryant Smith
http://www.bryantsmith.com
http://www.aszx.net
email: templates [-at-] bryantsmith [-dot-] com
Released under Creative Commons Attribution 2.5 Generic.  In other words, do with it what you please; but please leave the link if you'd be so kind :)

Name       : A Farewell to Colors
Description: One column, with top naviagation
Version    : 1.0
Released   : 20081230
-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="tfl" ng-controller="MainController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
<title>TFL train times</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<h1>{{ header }}</h1>
            <h2>{{ subheader }}</h2>
        </div>
        <div class="contentText">
            <input ng-model="subheader"/>
            <button ng-click="updateTitle()">update title</button>
        </div>
        
        <div class="contentText">
            <div ng-show="flash.getMessage()" class="success">
                {{flash.getMessage()}}
            </div>
        </div>
        <div id="bar">
        	<div ng-repeat="line in lines" class="link" ng-class="{active: (location.path() == '/line/' + line)}"><a href="#/line/{{line}}">{{ line }}</a></div>
            
            <div class="link" ng-class="{active: (location.path() == '/contactus')}">
                <a href="#/contactus">contact us</a>
            </div>
        </div>
        <div ng-view>
        </div>
    </div>
        <div id="footer"><a href="http://www.aszx.net">web development</a> by <a href="http://www.bryantsmith.com">bryant smith</a></div>
    
    <script src="./components/angular/angular.js"></script>
    <script src="./components/angular-route/angular-route.js"></script>
    <script src="./components/ngDialog/js/ngDialog.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/models/trainTime.js"></script>
    <script src="./app/MainController.js"></script>
    <script src="./app/services/linesAPI.js"></script>
    <script src="./app/services/flash.js"></script>

    <script src="./app/HomeController.js"></script>
    <script src="./app/LineController.js"></script>
    <script src="./app/ContactUsController.js"></script>
    
</body>
</html>
