<div class="ngdialog-message">
    <div class="top20">
        <img ng-src="{{currentImageUrl}}" class="img-responsive">
        <h1>{{currentTitle}}</h1>
        <p>{{currentDescription}}</p>
        <button type="button" ng-click="closeThisDialog(''); sendMessage(currentTitle)" class="btn action-btn btn-lg">
            send us a message about this project
        </button>
    </div>
</div>