        <div class="container">
          <div class="row">
            <div class="col-lg-12 bottom20" >
              <h1 >{{galleryInfo.name}}<br/></h1>
              <h3>{{galleryInfo.subtitle}}<br/></h3>
            </div>
          </div>

          <div ng-repeat="project in projects" class="col-md-3 col-sm-3 col-xs-4-nopadding portfolio-item bottom20">
              <img ng-src="{{project.imageUrl}}" class="img-responsive img-rounded" ng-click="clickToOpen(project.object.image.url, project.object.name, project.object.description)">
            <h3 class="hidden-xs">{{project.object.name}}</h3>
            <p class="hide">{{project.object.description}}</p>
          </div>

        </div>
