
<div class="contentTitle">
<h1>{{ lineName }} line stations</h1>
</div>
<div class="contentText">
    <select ng-model="selectedStop" ng-options="stop as stop.commonName for stop in stops" ng-change="update()">
    </select>
</div>

<div class="contentTitle" ng-class="{hidden: (!show)}">
<h1>train times at {{selectedStop.commonName}}</h1>
</div>
<div class="contentText" ng-class="{hidden: (!show)}">
<p ng-repeat="train in trains">
    Platform: {{ train.platform }} <br/>
    towards: {{ train.direction }} <br/>
    minutes: {{ train.calculateMinutes() }} <br/><br/>
</p>
</div>